.character_cards{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 1rem;

}

.all-characters{
    display: table-row-group(center);
     grid-gap: 1rem;
    text-align: center;
    border-radius: 4px;
     
    
}

.character_card a:hover{
    color: #9160df;

}

.character_name{
    font-family: 'Zen Kurenaido', sans-serif;
    text-align: center;
}

.card_image{
    display: block ;
    width: 100%;
}

.center-button{
    display: flex;
    text-align: center;

}

.create-button{
    display: flex;
    justify-content: center;
    font-family: 'Zen Kurenaido', sans-serif;
    text-align: center;
    
}