.character_cards{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 1rem;

}

.character_card{
    text-align: center;
    /* box-shadow: 0 0 5px rgb(228, 228, 228); */
 
    border-radius: 4px;
     
    padding: .5rem;
}

.character_card a:hover{
    color: #9160df;

}

.character_name{
    font-family: 'Zen Kurenaido', sans-serif;
    text-align: center;
}

.card_image{
    display: block ;
    width: 100%;
}

.create-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}

.create-button{
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 50px;
}