.items{
    display: grid;
    text-align: center;
    align-content: center;
    color: whitesmoke;
    font-family: 'Zen Kurenaido', sans-serif;
}


.item-image{
    text-align: center;
    /* display: block; */
}

/* .all-images{
    text-align: center;
    display: block;
} */


.individual-item {
    display: grid;
    text-align: center;
}