
* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    background-color:#505050 ;
}
li, a{
    font-family: 'Zen Kurenaido', sans-serif;
    text-decoration: none;
    color: whitesmoke;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_links{
    list-style: none;
    display: inline-block;
    padding: 0px 0px;
}

.nav_links li{
    display: inline-block;
    padding: 0px 50px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #9160df;
}


.homepage {
    display: flexbox;
    justify-content: center;
    text-align: center;
    padding: auto;
    margin: 0;
    width: auto; 
    height: auto; 
} 

.logo{

    width: 800px;
    align-content: center;
}

.hometext{
    width: 800px;
    display: flex;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: whitesmoke;
}

.btn{
    display: inline;
}

.item-list{
    display: flex;
    text-align: center;
}

.inventory-title{
    color: #9160df;
    font-family: 'Zen Kurenaido', sans-serif;

}

.character-image{
    display: flex;
    text-align: center;
    align-items: center;
}

.table-items{
    color: whitesmoke;
    font-family: 'Zen Kurenaido', sans-serif;

}

.hometext{
    color: whitesmoke;
    font-family: 'Zen Kurenaido', sans-serif;
}