<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/styling.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/character_card.css">
    <link rel="stylesheet" href="/static/items.css">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">  
    <title>Risk of Rain 2</title>
</head>
<body>
    <header>
        <nav>
           <ul class="nav_links">
            <li>
              <a href="/home">HOME</a>
            </li>
            <li>
              <a href="/characters">CHARACTERS</a>
            </li>
            <li>
              <a href="/items">ITEMS</a>
            </li>
          </ul>
        </nav>
      </header>
          {% block content %}

          {% endblock %}

</body>
</html>