 {% extends 'base.html' %}
{% block content %}
<div class="homepage">
    <img src="/static/images/504-5044729_risk-of-rain-png-risk-of-rain-logo.png" class="logo">

    <p class="hometext"> Risk of Rain 2 is a roguelike third-person shooter developed by Hopoo Games and published by Gearbox Publishing. 
    ... Over time, the game's difficulty increases, spawning more powerful and dangerous creatures. The game supports up to four players 
    in online multiplayer. </p>
</div>
{% endblock %}
 

    
