<link rel="stylesheet" href="/static/items.css">
{% extends 'base.html' %}
{% block content %}

{% for items in items %}
    <div class="items">
        <div class="item">
            <ul>
                <br>
                <p>{{items.name}}</p>
                <b>{{items.attribute}}</b>
                <p>{{items.value}}</p>
                <i>{{items.description}}</i>
                <p></p>
                <br>
            </ul>
        </div>
    </div>
    <form action="/items/{{ items.id }}/delete" method="POST">
        <input class="item-delete" type="submit" value="delete"/></form>
    {% endfor %}
        
        <a href="/items/create" class="create-button" type=submit name="add_item">Create New Item</a>
    

{% endblock %}