{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
<div class="info">
  <h1>NEW CHARCTER</h1>
<form action="/characters" method="post">
  <input placeholder="Name" type="text" id="name" name="character_name" required autofocus>
  <br>
  <input placeholder="Health" type="number" id="health" name="character_health" required autofocus>
  <br>
  <input placeholder="Damage" type="number" id="damage" name="character_damage" required autofocus>
  <br>
  <input placeholder="Armor" type="number" id="armor" name="character_armor" required autofocus>
  <br>
  <!-- <input placeholder="I.D" type="number" id="id" name="character_id" required autofocus> -->
  <input type="file" accept="image/*" />
  <br>
  <input type='submit' value="Create">
</div>

<!-- enter table with list of items held -->
{% endblock %}