<!-- <link rel="stylesheet" href="/static/character_card.css"> -->
{% extends 'base.html' %}
{% block content %}

{% for character in characters %}
    <div class="character_card">
        <h3><a href="/characters/{{ character.id }}">{{character.name}}</a></h3>
    </div>
    <br>

    {% endfor %}
    <div>
    <button>
        <a href="/characters/create" class="create-button" type=submit name="add_character">Create New Character</a>
    </button>
</div>
<!-- <div class="character_cards">
    <div class="character_card"> 
       <a href="/characters/{{ characters.id }}"><img src="/static/images/ROR_2_Commando.png" alt="" class="card_image"></a>
        <div class="character_name">
            <p>COMMANDO</p>
        </div>
    </div>
</div>

 <div class="character_cards">
    <div class="character_card"> 
       <a href="/"><img src="/static/images/ROR_2_Huntress.png" alt="" class="card_image"></a>
        <div class="character_name">
            <p>HUNTRESS</p>
        </div>
    </div>
</div>

<div class="character_cards">
    <div class="character_card"> 
       <a href="/"><img src="/static/images/ROR_2_Bandit.png" alt="" class="card_image"></a>
        <div class="character_name">
            <p>BANDIT</p>
        </div>
    </div>
</div>

<div class="character_cards">
    <div class="character_card"> 
       <a href="/"><img src="/static/images/ROR_2_Acrid.png" alt="" class="card_image"></a>
        <div class="character_name">
            <p>ACRID</p>
        </div>
    </div>
</div>

<div class="character_cards">
    <div class="character_card"> 
       <a href="/"><img src="/static/images/ROR_2_Artificer.png" alt="" class="car_image"></a>
        <div class="character_name">
            <p>ARTIFICER</p>
        </div>
    </div>
</div>

<div class="character_cards">
    <div class="character_card"> 
       <a href="/"><img src="/static/images/ROR_2_Captain.png" alt="" class="car_image"></a>
        <div class="character_name">
            <p>CAPTAIN</p>
        </div>
    </div>
</div>

<div class="character_cards">
    <div class="character_card"> 
       <a href="/"><img src="/static/images/ROR_2_Engineer.png" alt="" class="car_image"></a>
        <div class="character_name">
            <p>ENGINEER</p>
        </div>
    </div>
</div>

<div class="character_cards">
    <div class="character_card"> 
       <a href="/"><img src="/static/images/ROR_2_Loader.jpeg" alt="" class="car_image"></a>
        <div class="character_name">
            <p>LOADER</p>
        </div>
    </div>
</div>

<div class="character_cards">
    <div class="character_card"> 
       <a href="/"><img src="/static/images/ROR_2_Mercenary.png" alt="" class="car_image"></a>
        <div class="character_name">
            <p>MERCENARY</p>
        </div>
    </div>
</div>

<div class="character_cards">
    <div class="character_card"> 
       <a href="/"><img src="/static/images/ROR_2_MUL-T.png" alt="" class="car_image"></a>
        <div class="character_name">
            <p>MUL-T</p>
        </div>
    </div>
</div>

<div class="character_cards">
    <div class="character_card"> 
       <a href="/"><img src="/static/images/ROR_2_Rex.png" alt="" class="car_image"></a>
        <div class="character_name">
            <p>REX</p>
        </div>
    </div>
</div>  -->


    {% endblock %}