{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
<div class="center-show-char">
<h3>{{character.name}}</h3>
<p>HP: {{character.health}}</p>
<p>DMG: {{character.damage}} </p>
<p>ARM: {{character.armor}}</p>
</div>
<form action="/characters/{{character.id}}/edit">
    <input class="create-button" type="submit" value="Edit">
</form>
<br>
<div class="center-button">
    
    <h3 class="inventory-title"> INVENTORY </h3>
</div>
<br>
 <!-- INVENTORY LOOK GOES HERE --> 
 <div class="item-list">
 <ul>
     <li> Sticky Bomb</li><button class="btn"><i class="fa fa-trash"></i></button>
     <li> Bison Steak</li><button class="btn"><i class="fa fa-trash"></i></button>
     <li> Missle launcher</li><button class="btn"><i class="fa fa-trash"></i></button>
     <li> Big Gun</li><button class="btn"><i class="fa fa-trash"></i></button>
 </ul>
</div>
<br>
<form action="/characters/{{ character.id }}/delete" method="POST">
    <input class="create-button" type="submit" value="Delete">
</form>
{% endblock %}