{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">

<div class="character-image">
    <img src="/static/images/{{character.name}}.png">
</div>

<div class="center-show-char">
<h3>{{character.name}}</h3>
<p>HP: {{character.health}}</p>
<p>DMG: {{character.damage}} </p>
<p>ARM: {{character.armor}}</p>
</div>
<form action="/characters/{{character.id}}/edit">
    <input class="create-button" type="submit" value="Edit">
</form>
<form action="/characters/{{ character.id }}/delete" method="POST">
    <input class="create-button" type="submit" value="Delete">
</form>
<br>
<div class="center-button">
    
    <h3 class="inventory-title"> INVENTORY: </h3>
</div>
<br>
 <!-- ITEMS GO HERE --> 
 <div class="item-list">
     <table class="table-items">
        <tr>
            <th>ITEM NAME</th>
            <th>ATTRIBUTE</th>
            <th>VALUE</th>
            <th></th>
          </tr>
          <tr>
            <td>Sticky Bomb</td>
            <td> DMG </td>
            <td> 10 </td>
            <td><button class="btn"><i class="fa fa-trash"></i></button></td>
            
          </tr>
          <tr>
            <td>Bison Steak</td>
            <td> HP </td>
            <td> 25 </td>
            <td><button class="btn"><i class="fa fa-trash"></i></button></td>
          </tr>
            <!-- <tr> <a>Sticky bomb</a><button class="btn"><i class="fa fa-trash"></i></button> </tr>
            <tr> <a>Bison Steak</a><button class="btn"><i class="fa fa-trash"></i></button> </tr>
        <a>Bison Steak</a><button class="btn"><i class="fa fa-trash"></i></button>
        <a>Topaz Brooch</a><button class="btn"><i class="fa fa-trash"></i></button>
        <a>Bison Steak</a><button class="btn"><i class="fa fa-trash"></i></button> -->
        </table>

 <!-- <ul>
     <li> Sticky Bomb</li><button class="btn"><i class="fa fa-trash"></i></button>
     <li> Bison Steak</li><button class="btn"><i class="fa fa-trash"></i></button>
     <li> Missle launcher</li><button class="btn"><i class="fa fa-trash"></i></button>
     <li> Big Gun</li><button class="btn"><i class="fa fa-trash"></i></button>
 </ul> -->
</div>
<br>
{% endblock %}